<h1> Add Artist </h1>
<br>
<%= form_for(@artist) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :bio %>
  <%= f.text_area :bio %>
  <%= f.submit %>
<% end %>

<%= link_to "Cancel", artists_path %>
