<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create a New Song</h1>

  <%= form_for @song do |f| %>

  <p><%= f.label :name %>
  <%= f.text_field :name %></p>

<p><%= f.label "Select an Artist:" %>
  <%= f.collection_select :artist_id, @artist, :id, :name %></p>

<p><%= f.label "Select a Genre:" %>
  <%= f.collection_select :genre_id, @genre, :id, :name %></p>

  <%= f.submit %>

  <% end %>
  </body>
</html>
