<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <h1><%= @song.name %></h1>
  <hr>
  <%= link_to "Edit Song", edit_song_url %>
  <hr>

  <p>Artist: <%= link_to @song.artist.name, artist_path %></p>
  <p>Genre: <%= link_to @song.genre.name, genre_path %></p>

  <p><%= link_to "Return to All Songs", songs_url %></p>
  </body>
</html>
